body {
  font-family: 'Kiwi Maru', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar .icon {
  color: #3c717b !important;
  font-weight: 800;
}

.navbar a {
  color: #3c717b !important;
  margin-right: 10px;
}

.nav-right {
  justify-content: flex-end;
}

.btn-hire-me {
  background-color: #3c717b;
  color: #fff;
  font-weight: 800;
}

.carousel {
  background: linear-gradient(to right, #8cdff7, #3c717b);
}

.carousel-item {
  height: 500px;
}

.carousel-description {
  color: #fff;
}

.feature-about-divider {
  margin: 86px;
}

footer {
  background-color: #3c717b;
  color: #fff;
}

.container > a > i {
  height: 50px;
  width: 50px;
  display: inline-block;
  color: #fff;
}
